<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
	<link href="/form.css" rel="stylesheet">
</head>
   <body>
      <form action = "/prescription/fill"  th:object="${prescription}" method = "POST">
            <h1>Request Prescription be filled.</h1>
            <p>Enter pharmacy name and address and prescription Rx number.</p>
      <section>
      	<p><span th:text="${message}"/></p>
      </section>
      <section>
      <p>
         <label for="rxid">
           <span>Rx: </span>
         </label>
         <input type="text" id="rxid" th:field="*{rxid}" />
      </p>
       <p>
         <label for="patientName">
           <span>Patient Name: </span>
         </label>
         <input type="text" id="patientName" th:field="*{patientName}" />
      </p> 
      <p>
         <label for="pharmacyName">
           <span>Pharmacy Name: </span>
         </label>
         <input type="text" id="pharmacyName" th:field="*{pharmacyName}" />
      </p> 
      <p>
         <label for="pharmacyAddress">
           <span>Pharmacy Address: </span>
         </label>
         <input type="text" id="pharmacyAddress" th:field="*{pharmacyAddress}" />
      </p> 
      </section>
        
      <p> <button type="submit">Request Fill for Prescription</button> </p>
      </form>
   </body>
</html>
