<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
	<link href="/display.css" rel="stylesheet">
</head>
   <body>
   <section>
   <div th:object="${prescription}">
   <table>
     <tr><td>Rx:</td> <td><span th:text="*{rxid}"></span></td></tr>
     <tr><td>Doctor:</td> <td><span th:text="*{doctor_ssn}"></span></td></tr>
     <tr><td>Name:</td> <td><span th:text="*{doctorName}"></span></td></tr>
     <tr><td> </td> <td> </td></tr>
     <tr><td>Patient:</td> <td><span th:text="*{patient_ssn}"></span></td></tr>   
     <tr><td>Name:</td> <td><span th:text="*{patientName}"></span></td></tr>    
     <tr><td> </td> <td> </td></tr>
	 <tr><td>Drug:</td> <td><span th:text="*{drugName}"></span></td></tr>
	 <tr><td>Quantity:</td> <td><span th:text="*{quantity}"></span></td></tr>
	 <tr><td> </td> <td> </td></tr>
	 <tr><td>Pharmacy:</td> <td><span th:text="*{pharmacyID}"></span></td></tr>
	 <tr><td>Name:</td> <td><span th:text="*{pharmacyName}"></span></td></tr>
	 <tr><td>Address:</td> <td><span th:text="*{pharmacyAddress}"></span></td></tr>
	 <tr><td>Phone:</td> <td><span th:text="*{pharmacyPhone}"></span></td></tr>
	 <tr><td>Date Filled:</td> <td><span th:text="*{dateFilled}"></span></td></tr>
	 <tr><td>Cost: $</td> <td><span th:text="*{cost}"></span></td></tr>
   </table>
   </div>
   </section>
   </body>
</html>